@import "../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";


:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #fafcfb;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 90vw; 
    max-width: 1280px;
    height: 90vh;
}

.container #conversation_output {
    flex-grow: 1;
    overflow: auto;
}

.container #conversation_input {
    height: 10vh;
}

.convo_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.message_item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em;
    min-height: 60px;
}

.message_item .sender {
    min-width: 100px;
    font-weight: bold;
}

.container #conversation_output > .message_item:nth-child(even) {
    background-color: #93e1f4;
}

.bottom_ref {
    min-height: 60px;
}

.config_panel {
    padding: 1.0em;
}
