@import "../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";

html, body {
    margin: 0;
    padding: 0;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 90vw; 
    max-width: 1280px;
    height: 90vh;
}

.container #conversation_output {
    flex-grow: 1;
}

.container #conversation_input {
    height: 10vh;
}

.convo_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
